a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.discontinued {
  opacity: .5;
}

.form-group {
  margin-bottom: 1rem;
}

#product_rows tr {
  cursor: pointer;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Fjalla One', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.featured {
    font-size: .9em;
}
.validation-summary-errors
{
  color: red;
}
/* Inventory status colors */
.discontinued {
  opacity: .5;
}

.out-of-stock {
  background-color: #f69ca3;
}

.need-reorder {
  background-color: #fce69f;
}

#product_rows tr {
  cursor: pointer;
}

#product_rows tr.out-of-stock td {
  background-color: #f69ca3;
}

#product_rows tr.need-reorder td {
  background-color: #fce69f;
}

.table-hover tbody tr:hover td {
  background-color: #d1ecf1;
}

#oos {
  background-color: #f69ca3;
  padding: 5px;
  border-radius: 5px;
}
#nro {
  background-color: #fce69f;
  padding: 5px;
  border-radius: 5px;
}